<div class="fondo">
  <div class="container-fluid">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Facturas</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">Descuentos</a>
      </div>
    </nav>
    <div>
      <button class="btn btn-danger logout" (click)="logout();">Salir</button>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1>Lista de Facturas</h1>
        <div class="text-right">
          <button class="btn btn-success" (click)="newFac();">Agregar</button>
        </div>
        <table class="table" *ngIf="hayFacturas">
          <tr>
            <th scope="col"># Serie</th>
            <th scope="col">Valor Nominal</th>
            <th scope="col">Fecha Emisión</th>
            <th scope="col">Fecha Vencimiento</th>
            <th scope="col">Detalle</th>
          </tr>
          <tr *ngFor="let fac of facturas" (click)="selectedItem(fac.id)">
            <td scope="row">{{fac.numero_serie}}</td>
            <td>{{fac.valor_venta}}</td>
            <td>{{fac.dateE_string}}</td>
            <td>{{fac.dateV_string}}</td>
            <td class="accion"><button class="btn btn-link" (click)="detail(fac.id);">Ver Factura</button></td>
          </tr>
        </table>
        <p *ngIf="!hayFacturas">No hay datos que mostrar</p>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h1>Lista de Descuentos</h1>
        <table class="table" *ngIf="hayContratos">
          <tr>
            <th scope="col">Fecha Desc.</th>
            <th scope="col">Val. Nom</th>
            <th scope="col">Fecha Ven.</th>
            <th scope="col">Días</th>
            <th scope="col">Retención</th>
            <th scope="col">TEP%</th>
            <th scope="col">d%</th>
            <th scope="col">Descuento</th>
            <th scope="col">Conste ini.</th>
            <th scope="col">Coste Fin.</th>
            <th scope="col">Val. Neto</th>
            <th scope="col">Val. Rec.</th>
            <th scope="col">Val Ent.</th>
            <th scope="col">TCEA%</th>
            <th scope="col">Opción</th>
          </tr>
          <tr *ngFor="let con of contratos">
            <td scope="row">{{con.fecha_descuento}}</td>
            <td>{{con.valor_nominal}}</td>
            <td>{{con.fecha_vencimiento}}</td>
            <td>{{con.dias}}</td>
            <td>{{con.retencion}}</td>
            <td>{{con.tasa_efectiva}}%</td>
            <td>{{con.porcentaje_descuento}}%</td>
            <td>{{con.descuento}}</td>
            <td>{{con.costos_iniciales}}</td>
            <td>{{con.costos_finales}}</td>
            <td>{{con.valor_neto}}</td>
            <td>{{con.valor_recibido}}</td>
            <td>{{con.valor_entregado}}</td>
            <td>{{con.tcea}}%</td>
            <td class="accion"><button class="btn btn-link" (click)="goToFactura(con.factura_id);">Ver Factura</button></td>
          </tr>
        </table>
        <p *ngIf="!hayContratos">No hay datos que mostrar</p>
        <div *ngIf="hayContratos">
          <h3 class="text-center">Cartera</h3>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="cartera col-sm-6">
              <label for="vr">(VR) Valor Total a Recibir por la cartera: {{cartera_vr}}</label>
              <label for="tcea">(TCEA) Tasa de Coste Efectiva Anual de la cartera: {{cartera_tcea}}%</label>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>