<div class="fondo">
  <div class="container-fluid">
    <div class="">
      <h1 class="registro-title">Detalle de Factura</h1>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-secondary" (click)="back();">Atras</button>
      </div>
      <div class="col-sm-8">
        <form action="">
          <div class="row">
            <div class="col-sm-6">
              <label>Fecha de emision</label>
              <div class="form-element">
                <input type="date" name="fecha_emision" [(ngModel)]="factura.fecha_emision" required #feControl='ngModel'>
                <div *ngIf='feControl.touched && !feControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Fecha de impresion</label>
              <div class="form-element">
                <input type="date" name="fecha_impresion" [(ngModel)]="factura.fecha_impresion" required #fiControl='ngModel'>
                <div *ngIf='fiControl.touched && !fiControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
                <div *ngIf='feControl.model > fiControl.model' class="text-danger">
                  La fecha de impresión tiene que ser mayor o igual a la fecha de emisión
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Fecha de vencimiento</label>
              <div class="form-element">
                <input type="date" name="fecha_vencimiento" [(ngModel)]="factura.fecha_vencimiento" required #fvControl='ngModel'>
                <div *ngIf='fvControl.touched && !fvControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
                <div *ngIf='feControl.model > fvControl.model' class="text-danger">
                  La fecha de vencimiento tiene que ser mayor o igual a la fecha de emisión
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>IGV (%)</label>
              <div class="form-element">
                <input type="number" name="igv" [(ngModel)]="igv_porcentaje" required #igvControl='ngModel' (change)='calcPrecio();'>
                <div *ngIf='igvControl.touched && !igvControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
                <div *ngIf='(igvControl.model > 30 || igvControl.model < 1) && igvControl.valid' class="text-danger">
                  IGV solo puede estar entre 1 y 30
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>RUC de imprenta</label>
              <div class="form-element">
                <input type="number" name="ruc_imprenta" [(ngModel)]="factura.ruc_imprenta" required #rucControl='ngModel'>
                <div *ngIf='rucControl.touched && !rucControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
                <div *ngIf='(rucControl.model < 10000000000 || rucControl.model > 99999999999) && rucControl.valid' class="text-danger">
                  RUC debe tener 11 digitos
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Numero de autorizacion de impresion</label>
              <div class="form-element">
                <input type="number" name="numero_autorizacion_impresion" [(ngModel)]="factura.numero_autorizacion_impresion" required #naiControl='ngModel'>
                <div *ngIf='naiControl.touched && !naiControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Numero correlativo</label>
              <div class="form-element">
                <input type="text" name="numero_correlativo" [(ngModel)]="factura.numero_correlativo" required #ncControl='ngModel'>
                <div *ngIf='ncControl.touched && !ncControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Numero de serie</label>
              <div class="form-element">
                <input type="text" name="numero_serie" [(ngModel)]="factura.numero_serie" required #nsControl='ngModel'>
                <div *ngIf='nsControl.touched && !nsControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Tipo de pago</label>
              <div class="form-element">
                <select name="tipo_pago" [(ngModel)]="factura.tipo_moneda">
                  <option value="Soles">Soles</option>
                  <option value="Dolares">Dolares</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Valor de venta</label>
              <div class="form-element">
                <input type="text" name="valor_venta" [(ngModel)]="factura.valor_venta" required #vvControl='ngModel' (change)='calcPrecio();'>
                <div *ngIf='vvControl.touched && !vvControl.valid' class="text-danger">
                  Llena el campo por favor
                </div>
                <div *ngIf='(vvControl.model < 100 || vvControl.model > 1000000) && vvControl.valid' class="text-danger">
                  Valor de venta debe ser mayor a 100 y menor a 1000000
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Precio de venta</label>
              <div class="form-element">
                <input type="text" name="precio_venta" [(ngModel)]="factura.precio_venta" disabled>
              </div>
            </div>
          </div>
          <div class="factura-button text-center">
            <button class="btn btn-warning" type="submit" (click)="update();" *ngIf="paramId" [disabled]='!feControl.valid || !fiControl.valid ||
             !fvControl.valid || !igvControl.valid || !rucControl.valid || !naiControl.valid || !ncControl.valid || !nsControl.valid || 
             !vvControl.valid || feControl.model > fiControl.model || feControl.model > fvControl.model || igvControl.model > 30 || igvControl.model < 1 || 
             rucControl.model < 10000000000 || rucControl.model > 99999999999 || vvControl.model < 100 || vvControl.model > 1000000'>Modificar</button>
            <button class="btn btn-info" type="submit" (click)="desc();" *ngIf="paramId">Calcular Descuento</button>
          </div>
          <div class="factura-button text-center">
            <button class="btn btn-success" type="submit" (click)="create();" *ngIf="!paramId" [disabled]='!feControl.valid || !fiControl.valid ||
            !fvControl.valid || !igvControl.valid || !rucControl.valid || !naiControl.valid || !ncControl.valid || !nsControl.valid || 
            !vvControl.valid || feControl.model > fiControl.model || feControl.model > fvControl.model || igvControl.model > 30 || igvControl.model < 1 || 
            rucControl.model < 10000000000 || rucControl.model > 99999999999 || vvControl.model < 100 || vvControl.model > 1000000'>Crear</button>
          </div>
        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="created">
    Factura creada correctamente
  </div>
  <div class="alert alert-success" role="alert" *ngIf="updated">
    Factura modificada correctamente
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    Ha ocurrido un error
  </div>
</div>