<div class="fondo">
  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="login-title">Bienvenido</h1>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form action="">
          <div class="form-element">
            <label for="user">Usuario</label>
            <input type="text" name="user" [(ngModel)]="user" required>
          </div>
          <div class="form-element">
            <label for="user">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="pass" required>
          </div>
          <div class="login-buttons">
            <button class="btn btn-success" (click)="login();">Ingresar</button>
            <button class="btn btn-link" (click)="registrar();">Registrarse</button>
            <!-- <button class="btn btn-link">¿Olvidaste tu contraseña?</button> -->
          </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    No existe el usuario
  </div>
</div>