/* You can add global styles to this file, and also import other style files */
.fondo{
    background: radial-gradient(ellipse at center, white 0%, #a1a9ae 100%);
    height: 100%;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

input{
    width: 90%;
}