<div class="registro-fondo">
  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="registro-title">Registro</h1>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form action="">
          <div class="form-element">
            <input type="text" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-element">
            <input type="text" name="apellido" placeholder="Apellido">
          </div>
          <div class="form-element">
            <input type="number" name="dni" placeholder="DNI">
          </div>
          <div class="form-element">
            <input type="text" name="correo" placeholder="Correo">
          </div>
          <div class="form-element">
            <input type="password" name="contraseña" placeholder="Contraseña">
          </div>
          <div class="form-element">
            <input type="password" name="repetir" placeholder="Repetir Contraseña">
          </div>
          <div class="registro-buttons">
            <button class="btn btn-success" type="submit">Registrar</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>