<div class="registro-fondo">
  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="registro-title">Registro</h1>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form action="">
          <div class="form-element">
            <input type="text" name="cuenta_abono" placeholder="Cuenta Abono" [(ngModel)]="newUser.cuenta_abono">
          </div>
          <div class="form-element">
            <select name="tipo_documento" [(ngModel)]="newUser.tipo_documento">
              <option value="DNI" selected>DNI</option>
            </select>
          </div>
          <div class="form-element">
            <input type="text" name="numero_documento" placeholder="Numero de Documento" [(ngModel)]="newUser.numero_documento">
          </div>
          <div class="form-element">
            <input type="text" name="direccion" placeholder="Direccion" [(ngModel)]="newUser.direccion">
          </div>
          <div class="form-element">
            <input type="text" name="nombre_contacto" placeholder="Nombre Contacto" [(ngModel)]="newUser.nombre_contacto">
          </div>
          <div class="form-element">
            <input type="text" name="cargo_contacto" placeholder="Cargo Contacto" [(ngModel)]="newUser.cargo_contacto">
          </div>
          <div class="form-element">
            <input type="text" name="razon_social" placeholder="Razon Social" [(ngModel)]="newUser.razon_social">
          </div>
          <div class="form-element">
            <input type="number" name="telefono" placeholder="Telefono" [(ngModel)]="newUser.telefono">
          </div>
          <div class="form-element">
            <input type="number" name="telefono_contacto" placeholder="Telefono Contacto" [(ngModel)]="newUser.telefono_contacto">
          </div>
          <div class="form-element">
            <input type="number" name="ruc" placeholder="RUC" [(ngModel)]="newUser.ruc">
          </div>
          <div class="form-element">
            <input type="text" name="codigo_postal" placeholder="Codigo Postal" [(ngModel)]="newUser.codigo_postal">
          </div>
          <div class="form-element">
            <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="newUser.nombre">
          </div>
          <div class="form-element">
            <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="newUser.apellido">
          </div>
          <div class="form-element">
            <input type="number" name="nif" placeholder="NIF" [(ngModel)]="newUser.nif">
          </div>
          <div class="form-element">
            <input type="text" name="usuario" placeholder="Usuario" [(ngModel)]="newUser.usuario">
          </div>
          <div class="form-element">
            <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="newUser.password">
          </div>
          <div class="form-element">
            <input type="password" name="re_password" placeholder="Repetir Contraseña" [(ngModel)]="re_password">
          </div>
          <div class="registro-buttons">
            <button class="btn btn-success" type="submit" (click)="create();">Registrar</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>