<div class="registro-fondo">
  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="registro-title">Registro</h1>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form action="">
          <div class="form-element">
            <input type="text" name="razon_social" placeholder="Razon Social" [(ngModel)]="newUser.razon_social">
          </div>
          <div class="form-element">
            <input type="number" name="ruc" placeholder="RUC" [(ngModel)]="newUser.ruc">
          </div>
          <div class="form-element">
            <input type="text" name="direccion" placeholder="Direccion" [(ngModel)]="newUser.direccion">
          </div>
          <div class="form-element">
            <input type="number" name="telefono" placeholder="Telefono" [(ngModel)]="newUser.telefono">
          </div>
          <div class="form-element">
            <input type="text" name="usuario" placeholder="Usuario" [(ngModel)]="newUser.usuario">
          </div>
          <div class="form-element">
            <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="newUser.password">
          </div>
          <div class="form-element">
            <input type="password" name="re_password" placeholder="Repetir Contraseña" [(ngModel)]="re_password">
          </div>
          <div class="registro-buttons">
            <button class="btn btn-success" type="submit" (click)="create();">Registrar</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>